@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');


* {
  border: 0;
  margin: 0;
}

body {
  font-family: 'Space Grotesk', sans-serif;
  overflow: hidden;

}

